[x-cloak] {
  display: none !important;
}

.flip-card {
  perspective: 1500px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.7s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
}

/*
Animaciòn Para las Flip Cards:
*/
.card-appear {
    opacity: 0;
    transform: translateY(40px) scale(0.95);
    transition: all 0.6s ease-out;
  }
  
  .card-appear.visible {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
  
/*
CLOSE  -- Animaciòn Para las Flip Cards:
*/

.impact-heading {
  font-size: 2.2rem; /* ~35px */
  font-weight: 650; /* más ligero que 800 */
  letter-spacing: 0.5px; /* da aire entre letras */
  color: #111827; /* gris oscuro, no negro plano */
  text-align: center;
  position: relative;
  display: inline-block;
  margin: 0 auto;
  padding: 0 20px;
  transition: all 0.3s ease;
}

.impact-heading:hover {
  text-shadow: 0 0 8px rgba(59, 130, 246, 0.3),
    0 0 16px rgba(59, 130, 246, 0.15);
  transform: translateY(-2px);
}

.impact-heading:hover {
  color: #1d4ed8; /* azul fuerte al hover */
  transform: translateY(-2px);
}

@media (min-width: 768px) {
  .impact-heading {
    font-size: 3rem; /* ~48px en desktop */
  }
}
